:root{
    --pipBoyContentColor: #0c0;
}
body {
background-color:#000;
margin:0;
overflow:hidden;
padding:0;
}

.screen {
animation: colorPulse 5s infinite ease-in-out;
background-image: radial-gradient(#222, #111);
box-shadow: 0 0 5vmin 1vmin #000 inset;
box-sizing: border-box;
font-family: monospace;
font-size: 20px;
height: 100vh;
overflow: hidden;
padding: 3vmin;
width: 100vw;
position: relative;
}

.screen:before {
animation: wave 10s infinite ease-in-out;
content: "";
height: 20vh;
left: 0;
opacity: 0.5;
position: absolute;
right: 0;
z-index: 1;
}

.screen:after {
background-image: linear-gradient(transparent, transparent 3px, #222);
background-size: 4px 4px;
bottom: 0;
content: "";
left: 0;
pointer-events: none;
position: absolute;
right: 0;
top: 0;
z-index: 2;
}

.screen-header-bar{
    animation: colorPulse 5s infinite ease-in-out;
    display: flex;
    /* border-top: 2px solid var(--pipBoyContentColor);
    border-left: 2px solid var(--pipBoyContentColor);
    border-right: 2px solid var(--pipBoyContentColor); */
    height: 5vmin;
}
.page-header-bar{
    width: 20%;
    display: flex;
    justify-content: space-between;
}
.page-header{
    font-size: 2em;
    background: transparent;
    text-transform: uppercase;
    display: inline-flex;
    justify-content: center;
    height: 0;
    width: 80%;
}
.page-header-before-container{
    flex-grow: 1;
    border-top: 2px solid;
    display: flex;
    width: 20%;
}
.page-header-before{
    display: inline-block;
    height: 5vmin;
    width: 100%;
}
/* .page-header-after{
    display: inline-block;
    border-top: 2px solid;
    border-right: 2px solid;
    height: 5vmin;
    width: 30%;
} */
.page-header-span{
    position: absolute;
    top: 0;
    
}
.upper-border{
    border-top: 2px solid;
}
.block-container{
    border-top: 2px solid;
    margin: 0 0 0 5px;
    flex-grow: 1;
    display: flex;
}
.block {
    padding: 4px 4px 0 4px;
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
}
.block-border-piece{
    animation: opacityColorPulse 5s infinite ease-in-out;
    width: 2px;
    height: 100%;
    transition: all ease-in-out;
    background: linear-gradient(to bottom, #0c0, transparent);
}
.stat-block-container{
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
}
.screen-body{
    display: flex;
    width: 100%;
    height: 90%;
    position: relative;
    margin-top: 1%;
    margin-bottom: 1%;
}
.inventory{
    display: inline-flex;
    width: 40%;
    height: 100%;
    justify-content: flex-end;
}
.item-description{
    display: inline-flex;
    width: 60%;
    height: 100%;
    flex-direction: column;
    align-items: flex-end;
}
.item-image-container{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 60%;
    width: 90%;
    border: 2px solid;
}
.item-image{
    animation: opacityColorPulse 5s infinite ease-in-out;
    height: 100%;
    width: 40%;
}
.item-spec-container{
    margin-top: 1%;
    height: 20%;
    width: 90%;
    display: flex;
    flex-direction: column;
}
.item-spec-row-one{
    display: flex;
    height: 50%;
}
.item-spec-row-two{
    display: grid;
    height: 50%;
    grid-template:
    "cnd cnd-end-piece effect effect effect-end-piece" 100%
    / 33% 2px 33% 33% 2px;
}
.item-dam, .item-wg, .item-val{
    flex-grow: 1;
    border-top: 2px solid;
    display: flex;
    justify-content: space-between;
}
.item-wg, .item-val{
    margin-left: 1%;
}
.item-cnd{
    grid-area: cnd;
    display: flex;
    justify-content: space-between;
}
.item-effect{
    grid-area: effect;
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    margin-left: 1%;
}
.item-dam-after, .item-wg-after, .item-val-after{
    animation: opacityColorPulse 5s infinite ease-in-out;
    width: 2px;
    height: 5vh;
    background: linear-gradient(to bottom, #0c0, transparent);
}
.item-cnd-after{
    grid-area: cnd-end-piece;
}
.item-effect-after{
    grid-area: effect-end-piece;
}
.item-cnd-after, .item-effect-after{
    animation: opacityColorPulse 5s infinite ease-in-out;
    background: linear-gradient(to bottom, #0c0, transparent);
    height: 5vh;
}
.inventory-list-container{
    position: relative;
    direction: rtl;
    overflow: auto;
    width: 100%;
    height: 90%;
}
.inventory-before{
    position: absolute;
    left: -15px;
    top: -10px;
    width: 40px;
    height: 20px;
    background-image: url(fallout-arrow-big.png);
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.5;
    z-index: 1;
    animation: opacityColorPulse 5s infinite ease-in-out;
    /* border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 20px solid var(--pipBoyContentColor); */
    content: "";
}
.inventory-after{
    position: absolute;
    left: -15px;
    bottom: 50px;
    width: 40px;
    height: 20px;
    background-image: url(fallout-arrow-big.png);
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.5;
    transform: rotate(0.5turn);
    animation: opacityColorPulse 5s infinite ease-in-out;
    /* border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 20px solid var(--pipBoyContentColor); */
    content: "";
}
.inventory-before:hover, .inventory-after:hover{
opacity: 1;
}
.inventory-list-container::-webkit-scrollbar{
    width: 10px;
}
.inventory-list-container::-webkit-scrollbar-track-piece{
    background: transparent;
}
.inventory-list-container::-webkit-scrollbar-thumb{
    animation: opacityColorPulse 5s infinite ease-in-out;
    /* background: linear-gradient(transparent, var(--pipBoyContentColor), transparent); */
    border-radius: 50%;
}
.inventory-list{
    width: 90%;
    height: 100%;
    margin: 0;
    list-style-type: none;
    padding: 0;
}
.inventory-list li{
    animation: colorPulse 5s infinite ease-in-out;
    animation: borderColorPulse 5s infinite ease-in-out;
    word-wrap: normal;
    overflow: hidden;
    padding: 0.2rem;
    font-size: 1.6rem;
    border: 2px solid var(--pipBoyContentColor);
}
.inventory-list li:hover, .inventory-list li:focus{
    border: 2px solid var(--pipBoyContentColor);
}
.inventory-item-container{
    display: flex;
    align-items: center;
}
.inventory-item-checkbox{
    height: 1rem;
    width: 1rem;
    border: 2px solid;
    margin: 0 0.5rem 0 0.25rem;
    background-color: transparent;
}
.item-container{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.inventory-item-checkbox:hover{
    background-color: var(--pipBoyContentColor);
}
.ltr{
    direction: ltr;
}
.bottom-left-container{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 5%;
    border-bottom: 2px solid;
}
.bottom-right-container{
    display: flex;
    justify-content: flex-end;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 5%;
    border-bottom: 2px solid;
}
.bottom-left{
    animation: opacityColorPulse 5s infinite ease-in-out;
    width: 2px;
    height: 5vh;
    transition: all ease-in-out;
    background: linear-gradient(to top, #0c0, transparent);
}
.bottom-right{
    animation: opacityColorPulse 5s infinite ease-in-out;
    width: 2px;
    height: 5vh;
    transition: all ease-in-out;
    background: linear-gradient(to top, #0c0, transparent);
}
p:last-child:after {
animation: blink 1s infinite;
content: "_";
}

@keyframes colorPulse {
0%, 100% {
    color:#0c0;
}
48%, 52% {
    color:#090;
}
50% {
    color:#060;
}
}
@keyframes opacityColorPulse{
    0%, 100% {
        opacity: 1;
    }
    48%, 52% {
        opacity: 0.7;
    }
    50% {
        opacity: 0.45;
    }
}
@keyframes borderColorPulse {
0%, 100% {
    border-color: #0c0;
}
48%, 52% {
    border-color: #090;
}
50% {
    border-color: #060;
}
}
@keyframes backgroundColorPulse {
0%, 60%, 100% {
    background-color: #0c0;
}
50% {
    background-color: #090;
}
52%{
    background-color: #0b0;
}
}
@keyframes scrollColorPulse{
    0%, 100% {
        background: linear-gradient(transparent, var(--pipBoyContentColor), transparent);
    }
    48%, 52% {
        background: linear-gradient(transparent, #090, transparent);
    }
    50% {
        background: linear-gradient(transparent, #060, transparent);
    }
}
@keyframes wave {
0% {
    box-shadow: 0 -5vh 20vh #0c0;
    top: -100vh;
}
48%, 52% {
    box-shadow: 0 -5vh 20vh #090;
}
50% {
    box-shadow: 0 -5vh 20vh #060;
}
100% {
    box-shadow: 0 -5vh 20vh #0c0;
    top:200vh;
}
}

@keyframes blink {
50% {
    opacity: 0;
}
}