:root{
    --pipBoyContentColor: #0c0;
}
body {
background-color:#000;
margin:0;
overflow:hidden;
padding:0;
}

.screen {
animation: colorPulse 5s infinite ease-in-out;
background-image: radial-gradient(#222, #111);
box-shadow: 0 0 5vmin 1vmin #000 inset;
box-sizing: border-box;
font-family: monospace;
font-size: 20px;
height: 100vh;
overflow: hidden;
padding: 3vmin;
width: 100vw;
position: relative;
}

.screen:before {
animation: wave 10s infinite ease-in-out;
content: "";
height: 20vh;
left: 0;
opacity: 0.5;
position: absolute;
right: 0;
z-index: 1;
}

.screen:after {
background-image: linear-gradient(transparent, transparent 3px, #222);
background-size: 4px 4px;
bottom: 0;
content: "";
left: 0;
pointer-events: none;
position: absolute;
right: 0;
top: 0;
z-index: 2;
}

.screen-header-bar{
    animation: colorPulse 5s infinite ease-in-out;
    display: flex;
    /* border-top: 2px solid var(--pipBoyContentColor);
    border-left: 2px solid var(--pipBoyContentColor);
    border-right: 2px solid var(--pipBoyContentColor); */
    height: 5vmin;
}
.page-header-bar{
    width: 20%;
    display: flex;
    justify-content: space-between;
}
.page-header{
    font-size: 2em;
    background: transparent;
    text-transform: uppercase;
    display: inline-flex;
    justify-content: center;
    height: 0;
    width: 80%;
}
.page-header-before-container{
    flex-grow: 1;
    border-top: 2px solid;
    display: flex;
    width: 20%;
}
.page-header-before{
    display: inline-block;
    height: 5vmin;
    width: 100%;
}
/* .page-header-after{
    display: inline-block;
    border-top: 2px solid;
    border-right: 2px solid;
    height: 5vmin;
    width: 30%;
} */
.page-header-span{
    position: absolute;
    top: 0;
    
}
.block-container{
    border-top: 2px solid;
    margin: 0 0 0 5px;
    flex-grow: 1;
    display: flex;
}
.block {
    padding: 4px 4px 0 4px;
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
}
.block-border-piece{
    width: 2px;
    height: 100%;
    background-image: linear-gradient(to bottom, var(--pipBoyContentColor), transparent);
}
.stat-block-container{
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
}
.screen-body{
    display: flex;
    width: 100%;
    height: 90%;
    position: relative;
    margin-top: 1%;
    margin-bottom: 1%;
}
.inventory{
    display: inline-flex;
    width: 40%;
    height: 100%;
    justify-content: flex-end;
}
.item-description{
    display: inline-flex;
    width: 60%;
    height: 100%;
}
.inventory-list-container{
    direction: rtl;
    overflow: auto;
    width: 100%;
    height: 90%;
}
.inventory-list-container::-webkit-scrollbar{
    width: 10px;
}
.inventory-list-container::-webkit-scrollbar-track{
    background: transparent;
}
.inventory-list-container::-webkit-scrollbar-thumb{
    background: linear-gradient(transparent, var(--pipBoyContentColor), transparent);
    border-radius: 50%;
}
.inventory-list-container::-webkit-scrollbar-button{
    width: 10px;
    background-image: url(fallout-arrow-big.png);
}
.inventory-list{
    width: 90%;
    height: 100%;
    margin: 0;
    list-style-type: none;
}
.inventory-list li{
    word-wrap: normal;
    overflow: hidden;
}
.ltr{
    direction: ltr;
}
.bottom-left-container{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 5%;
    border-bottom: 2px solid;
}
.bottom-right-container{
    display: flex;
    justify-content: flex-end;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 5%;
    border-bottom: 2px solid;
}
.bottom-left{
    width: 2px;
    height: 5vh;
    background-image: linear-gradient(to top, var(--pipBoyContentColor), transparent);
}
.bottom-right{
    width: 2px;
    height: 5vh;
    background-image: linear-gradient(to top, var(--pipBoyContentColor), transparent);
}
p:last-child:after {
animation: blink 1s infinite;
content: "_";
}

@keyframes colorPulse {
0%, 100% {
    color:#0c0;
    border-color: #0c0;
}
48%, 52% {
    color:#090;
    border-color: #090;
}
50% {
    color:#060;
    border-color: #060;
}
}

@keyframes wave {
0% {
    box-shadow: 0 -5vh 20vh #0c0;
    top: -100vh;
}
48%, 52% {
    box-shadow: 0 -5vh 20vh #090;
}
50% {
    box-shadow: 0 -5vh 20vh #060;
}
100% {
    box-shadow: 0 -5vh 20vh #0c0;
    top:200vh;
}
}

@keyframes blink {
50% {
    opacity: 0;
}
}